body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
}
.container{
    width: 800px;
    height: 800px;
    margin: auto;
    background-color: rgb(66, 75, 126);
}
.green-ball{
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
    margin: 500px 0 0 0;
    display: inline-block;
}
.orange-ball{
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 50%;
    margin: 500px 0 0 160px;
    display: inline-block;
}
.red-ball{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    margin: 500px 0 0 160px;
    display: inline-block;
}
.blue-ball{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    margin: 500px 0 0 160px;
    display: inline-block;
}
@keyframes greenmovetoright{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(770px);
    }
}
@keyframes greenmovetoleft{
    0%{
        transform: translateX(770px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes jump{
    0%{
        transform: translateY(0px);
        width: 30px;
        height: 30px;
        box-shadow: 0 5px 3px black;
    }
    50%{
        transform: translateY(-100px);
        width: 30px;
        height: 30px;
        box-shadow: 0 0 0 transparent;
    }
    100%{
        transform: translateY(0px);
        width: 30px;
        height: 20px;
        box-shadow: 0 5px 3px black;
    }
}
